@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
	margin: 0;
	padding: 0;
	background: #fff;

	color: #fff;
	font-family: Arial;
	font-size: 12px;
}

.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: 101.33%;
	height: 102.5%;
	background-image: url(https://img.freepik.com/vector-gratis/paisaje-naturaleza-dibujos-animados-montana-bosque-arboles-hoja-caduca-despeje-troncos_107791-3706.jpg?w=1380&t=st=1664222584~exp=1664223184~hmac=3a7ca5b9001bcd28dc89b684ec0f8e8e6dbae51fa8396170317b25ca51310a5f);
	background-size: cover;
	-webkit-filter: blur(5px);
	z-index: 0;
}

.grad{
	position: relative;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: 101.33%;
	height:102.5%;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}
.tabla{
	position: absolute;
	left: calc(60% - 255px);
	top: calc(45% - 35px);
	z-index: 2;
}

.header{
	position: absolute;
	top: calc(50% - 35px);
	left: calc(50% - 255px);
	z-index: 2;
}

.headerSP{
	position: absolute;
	z-index: 1;
	height: 60px;
	margin: 27px auto 0;
	text-align: center;
	position: relative;
	color: #FFFFFF;
	font-family: 'Exo', sans-serif;
	font-size: 50px;
	font-weight: 200;
	background-color: rgba(60,60,60,.5);
	border-radius: 7px;
	box-shadow: 0 0 15px rgba(60,60,60);

	/*-webkit-text-stroke: 0.1px white;*/
}



.header div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}
.headerTable div{
	color: black;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
	float: center;
	position: absolute;
	margin: 0 auto;
	top: calc(20% - 35px);
	left: calc(50% - 255px);
	right: calc(50% - 255px) ;
}
.header div span{
	color: #6bca48 !important;
}
.headeSP div span{
	color: #6bca48 !important;
}
.login{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 195px;
	width: 280px;
	padding: 10px;
	z-index: 2;
	background-color: rgba(60,60,60,.4);
	border-radius: 7px;
	box-shadow: 0 0 15px rgba(60,60,60);	
}

.guardianRegister{	
	height: 320px;		
}

.addPetForm{
	top: calc(35% - 75px);
	left: calc(50% - 50px);
	height: 430px;
	position: absolute;
	border-radius: 5%;
	background-color: rgba(80,80,80,0.4);
	box-shadow: 0 0 15px rgba(60,60,60);
	padding: 10px;
	z-index: 2;
}

.addReview{
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 200px;
}

.addReview label{
	color: #e8e8e8;
}
.addPetForm input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.addPetForm input[type=file]{
	width: 250px;
	height: 27px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding: 2px;
	margin-top: 3px;
}

.addPetForm input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.addPetForm input[type=date]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}


.addPetForm select{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.addPetForm textarea{
	
	width: 250px;
	border: 1px solid rgba(255,255,255,0.6);
    height: 60px;
    background: transparent;
	font-family: 'Exo', sans-serif;
	font-size: 15px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
	color: rgba(255,255,255,0.8);
}

.addPetForm a{
	color: rgba(255,255,255,0.8);
	font-family: 'Exo', sans-serif;
	font-size: 15px;
	font-weight: 400;
	padding: 4px;
}

.addPetForm select:hover{
	background-color: #595958;
}
.login select:hover{
	background-color: #595958;
}

.addPetForm input[type=number]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.addPetForm input[type=submit]
{
	width: 130px;
	height: 30px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
	position: absolute;
	z-index: 2;
}

.addPetForm input[type=submit]:hover{
	opacity: 0.8;
}

.ac_type{
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: rgba(255,255,255,0.6);
	margin-top: 10px;
	display: flex;
	width: 260px;
	justify-content: center ;
	/*border : 2px groove;
	border-color: rgba(255,255,255,0.6);*/
	
}




.text {
	font-family: 'Exo', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: rgba(255,255,255,0.6);
	width: 260px;
	height: 25px;
	justify-content: center ;
	padding: 2px;
	position: relative;
}

.textInfo {
	font-family: 'Exo', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: rgba(255,255,255,0.6);
	
	left:20%;
	display: block;
	width: fit-content;
	
	
    margin-top: 10px;
	justify-content: center ;
	padding: 2px;
	position: absolute;
	background-color: rgba(30,30,30,0.6);
	border-radius: 7px;
	box-shadow: 0 0 15px rgba(30,30,30);
}

.textInfoUser {
	font-family: 'Exo', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: rgba(255,255,255,0.6);
	
	top: 110%;
	left:40%;
	
	width: fit-content;
	
	
    margin-top: 10px;
	justify-content: center ;
	padding: 2px;
	position: absolute;
	background-color: rgba(30,30,30,0.6);
	border-radius: 7px;
	box-shadow: 0 0 15px rgba(30,30,30);
}

.text a {
	color: #6bca48;
	margin-right: auto;
	margin-left: auto;
	
}

.message a {
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	/*color: rgba(255,255,255,0.6);*/
	width: 260px;
	justify-content: center ;
	padding: 2px;
	color:#ead775
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

label{
	font-family: 'Exo', sans-serif;
	font-size: 16px;
    font-weight: 400;
	color: rgba(255,255,255,0.6);

}

.login input[type=number]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=date]{
	width: 250px;
	height: 30px;
	background: transparent; 
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: rgba(255,255,255,0.6);
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=button]{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=button]{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.reserve a {
	font-family: 'Exo', sans-serif;
	font-size: 16px;
    font-weight: 400;	
	color:#ead775 ;
    text-align: center;
	position: absolute;
	background-color: rgb(209, 90, 96, 0.7);
	padding: 6px;
    border-radius: 2px;
	border: 1px solid rgba(116, 13, 13, 0.6);
	width: 260px;
	margin-top: 10px;
	height: 35px;
}

.date {
	height: 240px;
}

.photoProfile {
	left: 40%;
	position: sticky;
	font-family: 'Exo', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: rgba(255,255,255,0.6);
    margin-top: 10px;
	justify-content: center ;
	padding: 2px;
	position: absolute;
	background-color: rgba(30,30,30,0.6);
	border-radius: 7px;
	box-shadow: 0 0 15px rgba(30,30,30);
	display: block;
	
}

.update input[type=submit]/*ACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/
{
	width: 130px;
	height: 30px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
	position: relative;
	
	z-index: 4;
	display: block;
}

.addPet input[type=submit]  /*Boton de agregar mascota en mis mascotas*/
{
	width: 130px;
	height: 30px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
	position: absolute;
	top: calc(37.5% - 75px);
	left: calc(20.3% - 50px);
	z-index: 2;
}
.addPet input[type=submit]:hover
{
	opacity: 0.8;
}
.update input[type=submit]:hover
{
	opacity: 0.8;
}

.login input[type=submit]{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login select{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
	color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
	color: rgba(255,255,255,0.6);
}

.form-date {
	padding: 16px;
	display: flex;
	flex-direction: column;
}
.form-date__label {
	font-family: “Helvetica”, arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	padding-bottom: 8px;
}
.form-date__input[type="date"] {
	appearance: none;
	color: #1D1D1D;
	font-family: “Helvetica”, arial, sans-serif;
	font-size: 18px;
	border:1px solid #ECF0F1;
	background:#ECF0F1;
	padding: 4px;
	display: inline-block;
	visibility: visible;
	width: 140px;
}
.form-date__input[type="date"]:focus {
	color: #495057;
	background-color: #FFFFFF;
	border-color: #80BDFF;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.btn_check{
	background-image:url('https://i.pinimg.com/564x/da/18/8c/da188ccb78f1017e9645542bb5e52d6b.jpg');
	background-repeat:no-repeat;
	height:50px;
	width:50px;
	background-size: 50px 50px;
	background-position:center;
	border: none;
	cursor: pointer;
}

.btn_reject{
	background-image:url('https://i.pinimg.com/564x/94/b4/7e/94b47e3843f8944e5a1e506a8322c060.jpg');
        background-repeat:no-repeat;
        height:50px;
        width:50px;
	/*	border-radius: 100%;*/
	background-size: 50px 50px;
	background-position:center;
	border: none;
	cursor: pointer;
}
.btn_check:hover{
	opacity: 0.5;
}

.btn_reject:hover{
	opacity: 0.5;
}



.tbody{
	position: absolute;
	color:rgba( 71, 147, 227, 1);
}

/* Table Styles */


.table-wrapper a {
	color: rgb(243, 245, 243);
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
	background-color: rgba( 60, 60, 60, 0.6 );
	border-radius: 10;
	box-shadow: 0 0 15px rgba(60,60,60);
}
.table-wrapper{
	margin-right: auto;
	margin-left: auto;
	margin-top: auto;
	top: 60px;
	width: 931px;
	box-shadow: 20px 40px 45px rgba( 0, 0, 0, 0.6 );
	/* font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;*/
	position: relative;
}



.fl-table {
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
	font-family: 'Exo', sans-serif;
	font-weight: 200;
	color: #000000;
	font-weight: normal;
	border: none;
	border-collapse: collapse;
	width: 100%;
	max-width: 100%;
	white-space: nowrap;
	background-color: white;
	position: relative;
	
}
	   
.noWrap{
	white-space: pre-wrap;
}
	   .fl-table td, .fl-table th {
		   text-align: center;
		   padding: 8px;
		}
		
		.fl-table td {
		   border-right: 1px solid #f8f8f8;
		   font-size: 12px;
	   }
	   
	   .fl-table thead th {
		   color: BLACK;
		   font-family: 'Exo', sans-serif;
	   
		   background: #F9C294;
		   opacity: 0.8;
	   }
	   
	   
	   .fl-table thead th:nth-child(odd) {
		   color: black;
		   background: #9D826B;
	   }
	   
	   .fl-table tr:nth-child(even) {
		   background: #F8F8F8;
	   }

	   .fl-tableReserve thead th {
		color: BLACK;
		font-family: 'Exo', sans-serif;
	
		background: #89d96c;
		opacity: 0.8;
	}
	
	
	.fl-tableReserve thead th:nth-child(odd) {
		color: black;
		background: #46914a;
	}

	   
	   
	   /* Responsive */
	   
	   @media (max-width: 767px) {
		   .fl-table {
			   display: block;
			   width: 100%;
		   }
		   .table-wrapper:before{
			   content: "<Scroll vertically>";
			   display: block;
			   text-align: right;
			   font-size: 11px;
			   color: #CBF1CB;
			   padding: 0 0 10px;
		   }
		   .fl-table thead, .fl-table tbody, .fl-table thead th {
			   display: block;
		   }
		   .fl-table thead th:last-child{
			   border-bottom: none;
		   }
		   .fl-table thead {
			   float: left;
		   }
		   .fl-table tbody {
			   width: auto;
			   position: relative;
			   overflow-x: auto;
		   }
		   .fl-table td, .fl-table th {
			   padding: 20px .625em .625em .625em;
			   height: 60px;
			   vertical-align: middle;
			   box-sizing: border-box;
			   overflow-x: hidden;
			   overflow-y: auto;
			   width: 120px;
			   font-size: 13px;
			   text-overflow: ellipsis;
		   }
		   .fl-table thead th {
			   text-align: left;
			   border-bottom: 1px solid #f7f7f9;
		   }
		   .fl-table tbody tr {
			   display: table-cell;
		   }
		   .fl-table tbody tr:nth-child(odd) {
			   background: none;
		   }
		   .fl-table tr:nth-child(even) {
			   background: transparent;
		   }
		   .fl-table tr td:nth-child(odd) {
			   background: #F8F8F8;
			   border-right: 1px solid #E6E4E4;
		   }
		   .fl-table tr td:nth-child(even) {
			   border-right: 1px solid #E6E4E4;
		   }
		   .fl-table tbody td {
			   display: block;
			   text-align: center;
			   position: absolute;
		   }
	   }

	   /* SPAN-----------------------------------------------------------*/
	   nav {
		margin: 27px auto 0;
		position: relative;
		width: 430px;
		height: 50px;
		background-color: rgba(60,60,60,.5);;
		border-radius: 8px;
		font-size: 0;
	}
	nav a {
		line-height: 50px;
		height: 100%;
		font-size: 15px;
		display: inline-block;
		position: relative;
		z-index: 1;
		text-decoration: none;
		text-transform: uppercase;
		text-align: center;
		color: white;
		cursor: pointer;  

	}

	nav .animation {
		position: absolute;
		height: 100%;
		top: 0;
		z-index: 0;
		transition: all .5s ease 0s;
		border-radius: 8px;
	}
	a:nth-child(1) {
		width: 100px;
		background-image: "https://cdn-icons-png.flaticon.com/512/4645/4645949.png";
	}
	a:nth-child(2) {
		width: 110px;
	}
	a:nth-child(3) {
		width: 110px;
	}
	a:nth-child(4) {
		width: 110px;
	}
	a:nth-child(5) {
		width: 120px;
	}
	nav .start-lobby, a:nth-child(1):hover~.animation {
		width: 100px;
		left: 0;
		background-color: #6bca48;
	}
	nav .start-about, a:nth-child(2):hover~.animation {
		width: 110px;
		left: 100px;
		/*background-color: #ead775;*/
		background-color: #ead775;
	}
	nav .start-blog, a:nth-child(3):hover~.animation {
		width: 110px;
		left: 210px;
		background-color: #967456;
	}
	nav .start-portefolio, a:nth-child(4):hover~.animation {
		width: 110px;
		left: 320px;
		background-color: #bc4b51;
	}
	/*nav .start-contact, a:nth-child(5):hover~.animation {
		width: 120px;
		left: 470px;
		background-color: #967456;
	}*/
	
	body {
		font-size: 12px;
		font-family: sans-serif;
		background: #2c3e50;
	}
	h1 {
		text-align: center;
		margin: 40px 0 40px;
		text-align: center;
		font-size: 30px;
		color: #ecf0f1;
		text-shadow: 2px 2px 4px #000000;
		font-family: 'Cherry Swash', cursive;
	}
	
	p {
		position: absolute;
		bottom: 20px;
		width: 100%;
		text-align: center;
		color: #ecf0f1;
		font-family: 'Cherry Swash',cursive;
		font-size: 16px;
	}
	
	span {
		color: #6bca48;
	}
	

	/*Ferraaa input para los botones de seleccionar boton */
	.file-select {
		position: relative;
		display: inline-block;
	  }
	  
	  .file-select::before {
		background-color: #5678EF;
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 3px;
		content: 'Seleccionar'; /* testo por defecto */
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	  }
	  
	  .file-select input[type="file"] {
		opacity: 0;
		width: 200px;
		height: 32px;
		display: inline-block;
	  }
	  
	  #src-file1::before {
		content: 'Seleccionar Foto de Perfil 1';
	  }
	  
	  #src-file2::before {
		content: 'Seleccionar Plan de Vacunación';
	  }

	  /* ESTRELLITAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAS*/

	  
	  
	 
	  
	  
	  
	  .clasificacion input[type="radio"] {
		display: none;
	  }
	  
	  .clasificacion label {
		color: rgb(207, 205, 205);
		font-size: 25px;
	  }
	  
	  .clasificacion {
		direction: rtl;
		unicode-bidi: bidi-override;
		top: 7.5%;
		left: 7%;
		
	  }
	  
	  .clasificacion label:hover,
	  .clasificacion label:hover ~ label {
		color: orange;
	  }
	  
	 .clasificacion input[type="radio"]:checked ~ label {
		color: orange;
	  }
