@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	background: #fff;

	color: #fff;
	font-family: Arial;
	font-size: 12px;
}

.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: 101.33%;
	height: 102.5%;
	background-image: url(https://img.freepik.com/vector-gratis/paisaje-naturaleza-dibujos-animados-montana-bosque-arboles-hoja-caduca-despeje-troncos_107791-3706.jpg?w=1380&t=st=1664222584~exp=1664223184~hmac=3a7ca5b9001bcd28dc89b684ec0f8e8e6dbae51fa8396170317b25ca51310a5f);
	background-size: cover;
	-webkit-filter: blur(5px);
	z-index: 0;
}

.grad{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: 101.33%;
	height:102.5%;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}

.header{
	position: absolute;
	top: calc(50% - 35px);
	left: calc(50% - 255px);
	z-index: 2;
}

.header div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}

.header div span{
	color: #6bca48 !important;
}

.login{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
	
}

.ac_type{
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: rgba(255,255,255,0.6);
	margin-top: 10px;
	display: flex;
	width: 260px;
	justify-content: center ;
	/*border : 2px groove;
	border-color: rgba(255,255,255,0.6);*/
	
}




.text {
	font-family: 'Exo', sans-serif;
	font-size: 10px;
	font-weight: 400;
	color: rgba(255,255,255,0.6);
	width: 260px;
	justify-content: center ;
	padding: 5px;
}

.text a {
	color: #6bca48;

}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}
.login input[type=date]{
	width: 250px;
	height: 30px;
	background: transparent; 
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: rgba(255,255,255,0.6);
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=button]{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}

	.form-date {
	padding: 16px;
	display: flex;
	flex-direction: column;
	}
	.form-date__label {
	font-family: “Helvetica”, arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	padding-bottom: 8px;
	}
	.form-date__input[type="date"] {
	appearance: none;
	color: #1D1D1D;
	font-family: “Helvetica”, arial, sans-serif;
	font-size: 18px;
	border:1px solid #ECF0F1;
	background:#ECF0F1;
	padding: 4px;
	display: inline-block;
	visibility: visible;
	width: 140px;
	}
	.form-date__input[type="date"]:focus {
	color: #495057;
	background-color: #FFFFFF;
	border-color: #80BDFF;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
	}
